# Unit 1 Lecture 2B -  Data Structures - Collections

CAI 4823: Artificial Intelligence for Industrial Engineers<br>
University of Central Florida
Dr. Ivan Garibay, Ramya Akula.<br>

## Notebook Learning Objectives
After studying this notebook students should be able to:
- Undestand, use and manipulate data structures that store __collections__ of items: 
    - lists, 
    - tupples, 
    - dictionaries, and 
    - sets
- Understand the use of __arrays__ to store collections of numbers
- Understand the use of __```Range()```__
- Understand the use of __files__ to store and retrieve data

# List
- Lists in Python are simply collections of data
- Lists can contain strings, integers, floats, etc.
- Lists are ordered: each objects on the list is assigned a number called the index
- Lists are "mutable": we can update elements of the list at will

In [1]:
MyExampleList = ["Python", "C", "Java", "Julia", "R", "C++"]
print (MyExampleList)

['Python', 'C', 'Java', 'Julia', 'R', 'C++']

### Accessing Values in Lists

In [2]:
MyExampleList[1]

'C'

In [3]:
MyExampleList[1]

'C'

In [4]:
MyExampleList[3]

'Julia'

In [5]:
MyExampleList[1:3]

['C', 'Java']

In [6]:
MyExampleList[2:]

['Java', 'Julia', 'R', 'C++']

In [7]:
Length = len(MyExampleList)
print(Length)

6

In [8]:
print(MyExampleList[Length - 1])

C++

In [9]:
MyExampleList[0][1]

'y'

In [10]:
MyExampleList[-4] , MyExampleList[2]

('Java', 'Java')

In [11]:
Day = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
len(Day)

7

In [12]:
count = 0
print("Today is: ", Day[count])

Today is:  Sunday

In [13]:
count = 4
print("Today is: ", Day[count])

Today is:  Thursday

### Updating Lists

In [14]:
MyExampleList[1]="Scala"
print (MyExampleList)

['Python', 'Scala', 'Java', 'Julia', 'R', 'C++']

In [15]:
List1 = ["chemistry", "2024", "math", "2023"]

In [16]:
List1[0] = "physics"
print(List1)

['physics', '2024', 'math', '2023']

In [17]:
List1[2:] = ["music", "2023"]
print(List1)

['physics', '2024', 'music', '2023']

In [18]:
List2 = ["class1", "class2"]

In [19]:
List3 = List1 + List2
print(List3)

['physics', '2024', 'music', '2023', 'class1', 'class2']

In [20]:
List3 = List3*2
print(List3)

['physics', '2024', 'music', '2023', 'class1', 'class2', 'physics', '2024', 'music', '2023', 'class1', 'class2']

### Delete List Elements

In [21]:
del MyExampleList[1]
print (MyExampleList)

['Python', 'Java', 'Julia', 'R', 'C++']

In [22]:
print(List1)

['physics', '2024', 'music', '2023']

In [23]:
del List1[2:3]
print("List1 after deleting opperation is:", List1)

List1 after deleting opperation is: ['physics', '2024', '2023']

### Methods in List

```Name.append (x)``` : Add an item to the end of the list.

```Name.remove (x)``` : Remove the first item from the list.

```Name.index (x)``` : Return zero-based index in the list of the first item.

```Name.count (x)``` : Return the number of times x appears in the list.

```Name.extend (x)``` : Extend the list by appending all the items from the iterable.

```Name.insert (I,x)``` : Insert an item at a given position.

```Name.sort ()``` : Sort the items of the list in place.

Applying these methods in an example:

In [24]:
Listx = ["math" , "physics" , "art"]
Listx.append("algebra")
print(Listx)

['math', 'physics', 'art', 'algebra']

In [25]:
Listx.remove("art")
print(Listx)

['math', 'physics', 'algebra']

In [26]:
Listx.index("physics")

1

In [27]:
Listx.count("algebra")

1

In [28]:
Listy = ["17" , "19" , "20"]

Listx.extend(Listy)
print(Listx)

['math', 'physics', 'algebra', '17', '19', '20']

In [29]:
Listz = [1,4,9,2,3,7]
Listz.sort()
Listz

[1, 2, 3, 4, 7, 9]

# Tuples

A tuple consist of a number of objects which seperated by commas with or without parentheses, for instance:

In [30]:
Tuple = ("d", 12, "b17", "21!")
Tuple1 = "f", "bd", 12

In [31]:
Tuple[0]

'd'

In [32]:
Tuple[1:3]

(12, 'b17')

 empty tuple is usually constructed by an empty parentheses, while a tuple with one item is constructed by following a value with a comma after it

In [33]:
Tuple_empty = ()
Tuple_single = (123),
len(Tuple_empty)

0

In [34]:
len(Tuple_single)

1

Unlike lists, tuples are immutable:

In [35]:
T1 = (100,200,300,400,500)
T1[0] = 700

TypeError: 'tuple' object does not support item assignment

This ```error``` shows that tuples are immutable and you are not allowed to replace its objects with new objects. So we can create a new tuple includes new objects.

In [36]:
T2 = (700,) + T1[1:]
print(T2)

(700, 200, 300, 400, 500)

In [37]:
T1 + (800,900)

(100, 200, 300, 400, 500, 800, 900)

In [38]:
Day = ("Sunday", "Monday", "Tuesday", "Wednesday")
count = 0
print("Today is: ", Day[count])

Today is:  Sunday

Tuple and sub-tuple:

In [39]:
Class = ("Math", "Physics", "Algebra", "Art")
len(Class)

4

In [40]:
Class1 = (("Math1", "Math2", "Math3"), ("Physics1", "Physics2"), "Algebra", "Art")
len(Class1)

4

### Methods in Tuple

```Name.index (x)``` : Return zero-based index in the tuple of the first x item.

```Name.count (x)``` : Return the number of times x appears in the tuple.

In [41]:
T3 = ("a", "b", "c", "d", "e", "f", "d", "b", "d")
T3.index("e")

4

In [42]:
T3.count("d")

3

# Dictionary

A dictionary includes ```keys``` and ```values```. Any key of the dictionary is associated to a value. For dictionary we use braces {} and each key is separated from its value by a colon (:), each value is separated by commas.

Keys in a dictionary are uniqe, while values in a dictionary can be repeated.

In [43]:
dic1 = {"Math":"A", "Physics":"A", "Art":"B", "Algebra":"c"}
print(dic1)

{'Math': 'A', 'Physics': 'A', 'Art': 'B', 'Algebra': 'c'}

In [44]:
dic2 = {"Name": "Bob", "Age": 19, "Color": "White"}
print("dic2['Name']: ", dic2['Name'])
print("dic2['Age']: ", dic2['Age'])

dic2['Name']:  Bob
dic2['Age']:  19

### Updating Dictionary

Dictionary like lists are mutable, So you can replace its objects with new ones and update it.

In [45]:
dic2 = {"Name": "Bob", "Age": 19, "Color": "White"}
dic2["Age"] = 23    # update existing entry
dic2["Status"] = "single"   # Add new entry
print(dic2)

{'Name': 'Bob', 'Age': 23, 'Color': 'White', 'Status': 'single'}

### Delete Dictionary Elements

In [46]:
del dic2['Name']     # remove one entry from dictionary
print (dic2)

{'Age': 23, 'Color': 'White', 'Status': 'single'}

In [47]:
del dic2          #  delete entire dictionary. We don't have this dictionary any more
print(dic2)

NameError: name 'dic2' is not defined

This ```error``` shows that since dic2 has been deleted, it can not longer be printed.

### Methods in Dictionary

```dic.copy()``` : Returne a copy of dictionary.

```dic.clear()``` : Remove all items of dictionary.

```dic.keys()``` : Return list of dictionary' s keys.

```dic.values()``` : Return list of dictionary' s values.

```dic.items()``` : Return dictionary' s pairs (key, value)

```dic.get()``` : Return a value for the given key. If key is not available then returns None.

In [48]:
seasons = {"first":"spring", "second":"summer", "third":"fall", "fourth":"winter"}
len(seasons)

4

In [49]:
seasons_new = seasons.copy()   # create a new dictionary randomly
seasons_new

{'first': 'spring', 'second': 'summer', 'third': 'fall', 'fourth': 'winter'}

In [50]:
seasons_new.clear()
print(seasons_new)

{}

In [51]:
seasons.keys()

dict_keys(['first', 'second', 'third', 'fourth'])

In [52]:
seasons.values()

dict_values(['spring', 'summer', 'fall', 'winter'])

In [53]:
seasons.items()

dict_items([('first', 'spring'), ('second', 'summer'), ('third', 'fall'), ('fourth', 'winter')])

# Set

Set is a data structure equivalent to sets in mathematics. Also, the definition of set and dictionary are simillar in python, but the order of elements in a set is undefined.

In [54]:
A = {1,3,5,7}

A[2]   # Since index is not defined by python or by yourself in a set. 
       #If we call a specific index, we definitely have an error like this:

TypeError: 'set' object is not subscriptable

This ```error``` shows that sets can not be refered by a specific index, elements in a sets have no particular position. If you call a set with an index, you get the error above

##### Changing a list to a set using ```set()``` function

In [55]:
alphabet = ["a", "a", "b","c", "c","d"] #notice some repeated letters
print (type(alphabet))
print (alphabet)

<class 'list'>
['a', 'a', 'b', 'c', 'c', 'd']

In [56]:
alphabet_set = set(alphabet) # no repeated letters on a "set"
print (type(alphabet_set))
print (alphabet_set)

<class 'set'>
{'c', 'a', 'b', 'd'}

### Methods in Set

```y.copy()``` : Returne a copy of set.

```y.clear()``` : Remove all items of set.

```y.add(x)``` : Adds element ```x``` to the set ```y```.

```y.remove(x)``` : Remove element ```x``` from the set ```y```.

```y.update(x)``` : Adds all elements of ```x``` to the set ```y```.

```y.issubset(x)``` : Returns ```true``` if ```y``` is a subset of ```x```.

```y.issuperset(x)``` : Returns ```true``` if ```x``` is a subset of ```y```.

```y.union(x)``` : Returns a set which is the union of two sets.   

```y.intersection(x)``` : Returns a set which is the intersection of two sets.   

```y.difference(x)``` : Returns the set difference of two sets.

```y.symmetric_difference(x)``` : Returns the symmetric difference of two sets. Note: the symmetric difference of two sets, also known as the disjunctive union, is the set of elements which are in either of the sets, but not in their intersection. For example, the symmetric difference of the sets 
\{1,2,3\} and 
\{3,4\} is 
\{1,2,4\}.

In [57]:
program = {"C", "java", "python", "R"}


C = program.copy()   # y.copy() function
print(C)

{'java', 'C', 'R', 'python'}

In [58]:
program.add("open CV")   # y.add(x) function

print (program)

{'R', 'C', 'python', 'java', 'open CV'}

In [59]:
C.clear()     # y.clear() function
print (C)

set()

In [60]:
program.remove("java")     # y.remove(x) function
print (program)

{'R', 'C', 'python', 'open CV'}

In [61]:
program.update("java")   # "java" is considered as a set 
print (program)

{'R', 'a', 'C', 'v', 'python', 'open CV', 'j'}

In [62]:
A = {2,4,6,8}
B = {100,300,500}


A.issubset(B)

False

In [63]:
A.issubset(A)

True

In [64]:
A.issuperset(B)

False

In [65]:
C = A.union(B)
print (C)

{2, 4, 100, 6, 500, 8, 300}

In [66]:
D = A.intersection(C)
print ("The intersection of A and C is: ", D )

The intersection of A and C is:  {8, 2, 4, 6}

In [67]:
E = B.difference(D)
print (E)

{100, 500, 300}

In [68]:
F = A.symmetric_difference(D) 
print (F)

set()

# Lists have math limitations
Lits are easy to use, good for everything except numbers and calculations

In [69]:
gains = [100, 200, 280]
print(gains)
print(gains[0])

[100, 200, 280]
100

In [70]:
gains[0]/3.0

33.333333333333336

In [71]:

gains/3.0 #error! entire list can not be divided even if they are lists of number, that why we need....Arrays

TypeError: unsupported operand type(s) for /: 'list' and 'float'

This ```error``` shows that a division operator is not defined for lists. We need a different kind of structure for this...

# Arrays
Use arrays for numbers. To use arrays, you need to "import" the numerical package Numpy. Arrays are the data structure we will use for vectors, matrices and linear algebra manipulation in our Numpy lectures. See example below.

In [72]:
import numpy as np

gains2 = np.array([100, 200, 280])
print(gains2)
print(gains2/3.0)

ModuleNotFoundError: No module named 'numpy'

# Range()
Range is a function that outputs a list of numbers specified by its parameters:
- Range ( Starting value {default=0} ,  End value,  Increment {default=1} )<br>

Some examples:

In [73]:
x = range(2,5)
x

range(2, 5)

To visualize the sequence of numbers we can use the type casting function ```list()``` to convert our output from range type to list type. Alternatively we can print the elemts one at a time using a loop:

In [74]:
list(x)

[2, 3, 4]

In [75]:
for i in x:
  print(i)

2
3
4

Another example, now using increment = 5:

In [76]:
list(range(0,50,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

# Files
In Python we can store data to and retrive data from files. Here we will only use a simple text file to illustrate the process. Later we will also use CVS and JSON files to store and retrieve data. 

## Write to a file
1. Open a file in write mode (‘w’) using the built-in open function. Replace 'filename.txt' with the desired file name and extension.

In [77]:
file = open('filename.txt', 'w')

2. Write data to the file using the write method. You can write a single string or multiple strings separated by newline characters (\n).

In [78]:
file.write('Your data here:\n')
file.write('The tree that never had to fight\n')
file.write('For sun and sky and air and light,\n')
file.write('But stood out in the open plain\n')
file.write('And always got its share of rain,\n')
file.write('Never became a forest king\n')
file.write('But lived and died a scrubby thing.\n')

36

3. Close the file using the close method:

In [79]:
file.close()

## Read from a file

1. Open the file in read-only mode ('r')

In [80]:
file1 = open("filename.txt", "r")

2. Read the file content on variable "file_content"

In [81]:
file_content = file1.read()

3. Close the file

In [82]:
file1.close()

Printing what we just read from the file

In [83]:
print(file_content)

Your data here:
The tree that never had to fight
For sun and sky and air and light,
But stood out in the open plain
And always got its share of rain,
Never became a forest king
But lived and died a scrubby thing.

# Exercises

__1.__ Create a list containing the names of the Super Bowl winning teams for each year over the last 5 years. Name the list "SuperBowl_5". Are names repeated in your list? Are repeated names allowed in Python lists?

__2.__ Repeat the exercise above but use a "set" instead of a list. Can you have repeated elements on a Python set?

__3.__ Create a list with the names of all months of the year. Call this list "months". Print the third month of your list. Sort your "months" list alphabeticaly. _Hint:_ use function <code>months.sort()</code>. Print again the third month of your list. Has it changed or not? Why or why not?

__4.__ Create a list with the first 10 prime numbers. Call this list "prime10". Extract from "prime10" the first five (lower) prime numbers and store the result into another list called "prime5". Print both lists.

__5.__ Print each number in "prime10" followed by a comma, a space and then the same number but multiplied by 19. Using mathematics, we can ask this same question in an alternative way. Please calculate:
\begin{equation*}
(x, 19x) \forall x \in {prime10}
\end{equation*}
__Note:__ "$\forall x \in$" means "_for all x element of_"

__6.__ Print each number in "prime5" followed by a comma, a space and then the same number but raised to the fifth power. Using mathematics, we can ask this same question in an alternative way. Please calculate:
\begin{equation*}
(x, x^5) \forall x \in {prime5}
\end{equation*}

# Homework (not graded)
Please complete all the exercises on this Notebook. Some exercises will be solved in class, but you should complete solving all the remaining exersices at the end of each Notebook on every class. If you can not solve an exercise, please contact the class teaching assistant for help inmmediately.

# References
- Conditional statements: https://www.w3schools.com/python/python_conditions.asp
- Sequences in Python: https://en.wikibooks.org/wiki/Python_Programming/Sequences

_Last updated on 10.13.2022 3:46pm<br>
(C) 2022 Complex Adaptive Systems Laboratory all rights reserved._